body {
  background-color: #FFF9CA;
  margin: 20px;
}


.info {
  margin-left: 20px;
}

table,tr,td {
  border-style : none;
}

hr {
  border-style: none;
  border-top: dotted;
  width: 10%;
  border-width: 10px;
}

img {
  border-style: none;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
